@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

*{
    font-family: "poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-toggel{
    position: absolute;
    width: 223px;
    height: 110px;
    left: 41px;
    top: 37px;
}

.btn-1{
    position: absolute;
    width: 56px;
    height: 15px;
    left: 895px;
    top: 37px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.btn-2{
    position: absolute;
    width: 60px;
    height: 15px;
    left: 986px;
    top: 37px;  
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;  
    color: #000000;  
}

.btn-3{
    position: absolute;
    width: 48px;
    height: 15px;
    left: 1076px;
    top: 37px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.btn-4{
    position: absolute;
    width: 123px;
    height: 26px;
    left: 1154px;
    top: 37px; 
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

h1.hero-heading{
    position: absolute;
    width: 744px;
    height: 63px;
    left: 420px;
    top: 607px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
}

.foto{
    position: absolute;
    width: 406px;
    height: 426px;
    left: 484px;
    top: 154px;
    
}
h2.text-mid{
    position: absolute;
    width: 419px;
    height: 45px;
    left: 510px;
    top: 684px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}

.p-class{
    position: absolute;
    width: 936px;
    height: 113px;
    left: 226px;
    top: 743px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    text-align: justify;
    color: #000000;
}